[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pandas = "*"
python-dotenv = "*"
numpy = "==1.24.4"
pandas-ta = "==0.3.14b"
aws-lambda-powertools = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
